<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*<title>@ViewData["Title"] - Theworkspacerd.Web</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#feed01" />
    <title>theworkspacerd</title>
    <meta name="author" content="Themezinho">
    <meta name="description" content="For all kind of construction company website">
    <meta name="keywords" content="consto, business, construction, company, industrial, building, projects, corporate, apartments, flat, condo, brick, website, design, animation, transition, themezinho">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="theworkspacerd | Industrial Construction Company">
    <meta property="og:image" content="http://www.themezinho.net/consto/preview.png">
    <meta property="og:site_name" content="consto">
    <meta property="og:title" content="consto">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.themezinho.net/consto">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    @*<meta name="twitter:site" content="@consto">
        <meta name="twitter:creator" content="@consto">*@
    <meta name="twitter:title" content="consto">
    <meta name="twitter:description" content="theworkspacerd | Industrial Construction Company">
    <meta name="twitter:image" content="http://www.themezinho.net/consto/preview.png">

    <!-- FAVICON FILES -->
    <link href="~/images/logo.png" rel="apple-touch-icon" sizes="144x144">
    <link href="~/images/logo.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/images/logo.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/images/logo.png" rel="apple-touch-icon">
    <link href="~/images/logo.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <link rel="stylesheet" href="~/css/lineicons.css">
    <link rel="stylesheet" href="~/css/odometer.min.css">
    <link rel="stylesheet" href="~/css/fancybox.min.css">
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
</head>
<body>
  
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)*@

    @*<div class="first-transition"></div>*@
    <!-- end first-transition -->
    @*<div class="page-transition"></div>*@
    <!-- end page-transition -->
    <div class="search-box">
        <div class="inner">
            <form>
                <input type="search" placeholder="Tyhe here to search">
                <input type="submit" value="SEARCH">
            </form>
        </div>
    </div>
    <!-- end search-box -->
    <aside class="side-widget">
        <div class="inner">
            <div class="logo"> <a href="index.html"><img src="~/images/logo.png" alt="Image"></a> </div>
            <!-- end logo -->
            <div class="hide-mobile">
                <p>
                    Nuestras salas de juntas privadas ofrecen el contexto perfecto para realizar el intercambio de ideas con los colegas,
                    impresionar a los clientes y llevar a cabo productivas sesiones de capacitación. Reserve una sala por horas y permita que nuestro
                    equipo de asistencia en sitio le ayude a que su día se desarrolle sin inconvenientes.
                </p>
                <h6 class="widget-title">Dirección</h6>
                <address class="address">
                    <p>
                        Av. Simón Bolivar No.195 Torre Corporativa Bolivar<br />
                        Local 405. La Esperilla<br />
                        Santo Domingo, 11108 República Dominicana
                    </p>
                    <p><a href="tel:8299544117" class="text-white">+1 829 954 4117</a></p>
                </address>
                <h6 class="widget-title">Siguenos en nuestras redes</h6>
                <ul class="social-media">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <!-- end hide-mobile -->
            <div class="show-mobile">
                <div class="site-menu">
                    <ul>

                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Servicios">Servicios</a></li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Planes">Planes</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Contacto">Contactos</a>
                        </li>
                        <li class="no-border">
                            <a href="tel:8299544117">
                                <img src="~/images/telefono.svg" class="svg-telefono" /> +1 829 954 4117
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end site-menu -->
            </div>
            <!-- end show-mobile -->
            <small>© 2020 Consto | Industrial Construction Company</small>
        </div>
        <!-- end inner -->
    </aside>
    <!-- end side-widget -->
    <nav class="navbar">
        <div class="container">
            <div class="logo"> <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="Image"></a> </div>
            <!-- end logo -->
            <div class="site-menu">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Servicios">Servicios</a></li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Planes">Planes</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contacto">Contactos</a>
                    </li>
                    <li class="no-border">
                        <a href="tel:8299544117">
                            <img src="~/images/telefono.svg" class="svg-telefono" /> +1 829 954 4117
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end site-menu -->


            <div class="hamburger">
                <div id="hamburger"> <span></span> <span></span> <span></span> </div>
                <div id="cross"> <span></span> <span></span> </div>
            </div>
            <!-- end hamburger -->
            <!-- end hamburher -->
        </div>
        <!-- end container -->
    </nav>
    <!-- end navbar -->
    
        @RenderBody()


    <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- end col-4 -->
                <div class="col-lg-4 col-md-6">
                    <h6 class="widget-title">Dirección</h6>
                    <address>
                        <p>
                            Av. Simón Bolivar No.195 Torre Corporativa Bolivar<br>
                            Local 406. La Esperilla<br />
                            Santo Domingo, 11108 República Dominicana
                        </p>
                        <p><a href="tel:8299544117">+1 829 954 4117</a> </p>
                        @*<a href="https://www.google.com/maps/search/?api=1&query=centurylink+field" data-fancybox data-width="640" data-height="360">FIND US ON MAP</a>*@
                    </address>
                </div>
                <!-- end col-4 -->
                <!-- end col-4 -->
                <div class="col-12">
                    <div class="footer-bottom">
                        <span>© 2021 theworkspacerd | Industrial Construction Company</span>
                        <ul>
                            <li><a class="d-flex align-items-center"  href="#"><i class="fab fa-facebook-square ficon"></i> Facebook</a></li>
                            <li><a class="d-flex align-items-center" href="#"><i class="fab fa-instagram ficon"></i> Instagram</a></li>
                            <li><a class="d-flex align-items-center" href="#"><i class="fab fa-twitter-square ficon"></i> Twitter</a></li>
                        </ul>
                    </div>
                    <!-- end footer-bottom -->
                </div>
                <!-- end col-12  -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
        <a href="#" class="scroll-top"><i class="lni lni-arrow-up"></i> <small>Scroll Up</small> </a>
        <!-- end scroll-top -->
    </footer>
    <!-- end footer -->
    <div id="sales-specialist-form">
        <form>
            <div class="form-group">
                <span>Full Name</span>
                <input type="text">
            </div>
            <!-- end form-group -->
            <div class="form-group">
                <span>Phone Number</span>
                <input type="text">
            </div>
            <!-- end form-group -->
            <div class="form-group">
                <span>Current E-mail</span>
                <input type="email">
            </div>
            <!-- end form-group -->
            <div class="form-group">
                <input type="submit" value="REQUEST A CALL">
            </div>
            <!-- end form-group -->
        </form>
    </div>
    <!-- end sales-specialist-form -->
    <!-- JS FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/fancybox.min.js"></script>
    <script src="~/js/odometer.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>
