@model Theworkspacerd.Web.Models.Oficinas
@using Newtonsoft.Json


<div class="container mt-100">
    <div class="row" id="contenedorPaypal">
        <div class="col-12">
            <h2 class="text-center"><b>@Model.oficina</b></h2>
        </div>
        <div class="col-12">
            <p class="text-center">@Model.espacio</p>
        </div>
        <div class="col-12">
            <h4 class="precio">$@Model.precio</h4>
        </div>
        <div class="col-12">
            <p class="text-center">@Model.tipo</p>
        </div>
        <div class=" col-1 col-md-4"></div>
        <div class="col-12 col-md-4 mb-5">
            <div id="smart-button-container">
                <div style="text-align: center;">
                    <div id="paypal-button-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-none  justify-content-center mb-5" id="spinner">
        <div class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<button type="button" onclick="Enviar()" class="d-none">Enviar</button>


@*<script src="https://www.paypal.com/sdk/js?client-id=AePjO0nreSYyzFxR2_F_Mr9Je_VUXJb2W90Jq7VijgEMEjOJeARE6MO_k63tvJoKeVg7j4T2f_4_1cuo&currency=USD" data-sdk-integration-source="button-factory"></script>*@
@*<script src="https://www.paypal.com/sdk/js?client-id=AePjO0nreSYyzFxR2_F_Mr9Je_VUXJb2W90Jq7VijgEMEjOJeARE6MO_k63tvJoKeVg7j4T2f_4_1cuo&currency=USD" data-sdk-integration-source="button-factory"></script>*@
<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
@*<script src="https://www.paypal.com/sdk/js?client-id=AduCg4TQJMRhhTJizTSaEs5t-_l7hyHRh1cvbi1IW3B2EQqgTFw8L4SO4vg_xymZl3IOsPpvQjPCnuYY&components=buttons"></script>*@
@*<script src="https://www.paypal.com/sdk/js?client-id=AduCg4TQJMRhhTJizTSaEs5t-_l7hyHRh1cvbi1IW3B2EQqgTFw8L4SO4vg_xymZl3IOsPpvQjPCnuYY&currency=USD" data-sdk-integration-source="button-factory"></script>*@
<script>
    function Enviar() {
                    var url = '@Url.Action("EnviarCorreo","Home")';
                    var data = {
                        Id: "1",
                        Email_address:"luismiguelcabreragarcia@gmail.com",
                        Payer_id:"5",
                        Status:"true",
                        Description: "Hola mundo",
                        Amount: "500",
                        Currency_code:"$"

                    };

                    fetch(url, {
                        method: 'POST', // or 'PUT'
                        body: JSON.stringify(data), // data can be `string` or {object}!
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(response => window.location = `/Home/CorreosEnviardos?correo=${data.Email_address}`)

             
    }
      const data = @Html.Raw(JsonConvert.SerializeObject(ViewBag.objecto));
      const precio = parseInt(data.precio);


    function initPayPalButton() {
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal',

            },

            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{ "description": `${data.oficina}`, "amount": { "currency_code": "USD", "value": precio } }]
                   // purchase_units: [{ "description": "Oficina Privada", "amount": { "currency_code": "USD", "value": 351, "breakdown": { "item_total": { "currency_code": "USD", "value": 350 }, "shipping": { "currency_code": "USD", "value": 1 }, "tax_total": { "currency_code": "USD", "value": 0 } } } }]
                    //purchase_units: [{ "description": `${data.oficina}`, "amount": { "currency_code": "USD", "value": precio, "breakdown": { "item_total": { "currency_code": "USD", "value": precio }, "shipping": { "currency_code": "USD", "value": 1 }, "tax_total": { "currency_code": "USD", "value": 0 } } } }]

                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {

                    let contenedorPaypal = document.querySelector('#contenedorPaypal');
                    contenedorPaypal.classList.add('d-none');

                    let spinner = document.querySelector('#spinner');
                    spinner.classList.remove('d-none');
                    spinner.classList.add('d-flex');

                    var url = '@Url.Action("EnviarCorreo","Home")';
                    var data = {
                        Id: details.id,
                        Email_address: details.payer.email_address,
                        Payer_id: details.payer.payer_id,
                        Status: details.status,
                        Description: details.purchase_units[0].description,
                        Amount: details.purchase_units[0].amount.value,
                        Currency_code: details.purchase_units[0].amount.currency_code

                    };
                    console.log(data);
                    fetch(url, {
                        method: 'POST', // or 'PUT'
                        body: JSON.stringify(data), // data can be `string` or {object}!
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(res => res.json())
                        .catch(error => console.error('Error:', error))
                        .then(response => window.location = `/Home/CorreosEnviardos?correo=${data.Email_address}`)

                });
            },

            onError: function (err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>
