


<div class="container mt-100">
    <h1><b>PRECIOS</b></h1>


    <p>
        <h3 class=" text-decoration-none cursorPointer" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
            <span class="bt-amarillo">OFICINAS PRIVADAS</span>
        </h3>
    </p>
    <hr />
    <div class="collapse show" id="collapseExample">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina Privada</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$350</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Oficina 7.2 mts2, </p>
                        @*<p><input type="number" name="cantidad" id="cantidad" value="1" class="form-control"/></p>*@
                        <a href="@Url.Action("Pagos2","Home",new {id=1 })" class="btn btn-outline-secondary btn-alquiler" id="1">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina Privada</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$400</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Oficina 8.0 mts2 </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=2 })" class="btn btn-outline-secondary btn-alquiler" id="2">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina Privada</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$425</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Oficina 8.5 mts2 </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=3 })" class="btn btn-outline-secondary btn-alquiler" id="3">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina Privada</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$450</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Oficina 9.0 mts2</p>
                        <a href="@Url.Action("Pagos2","Home",new {id=4 })" class="btn btn-outline-secondary btn-alquiler" id="4">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina Privada</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$480</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Oficina 10.0 mts2</p>
                        <a href="@Url.Action("Pagos2","Home",new {id=5 })" class="btn btn-outline-secondary btn-alquiler" id="5">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina Privada</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$520</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Oficina 11.0 mts2</p>
                        <a href="@Url.Action("Pagos2","Home",new {id=6 })" class="btn btn-outline-secondary btn-alquiler" id="6">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina Privada</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$700</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Oficina 15.8 mts2</p>
                        <a href="@Url.Action("Pagos2","Home",new {id=7 })" class="btn btn-outline-secondary btn-alquiler" id="7">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*Fin Oficinas Privadas*@
    <p>
        <h3 class=" text-decoration-none cursorPointer" data-toggle="collapse" href="#ESPACIOSABIERTOS" aria-expanded="true" aria-controls="ESPACIOSABIERTOS">
            <span class="bt-amarillo">ESPACIOS ABIERTOS</span>
        </h3>
    </p>
    <hr />
    <div class="collapse show" id="ESPACIOSABIERTOS">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Espacios Abiertos</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$100</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">Escritorio full time, pasadía, sábados * escritorios no asignados.
                            <b class="d-block text-center">Mensuales</b> </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=8 })" class="btn btn-outline-secondary btn-alquiler" id="8">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Espacios Abiertos</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$33</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">
                            Escritorio full time, pasadía, sábados * escritorios no asignados.
                            <b class="d-block text-center">Semanales</b>
                        </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=9 })" class="btn btn-outline-secondary btn-alquiler" id="9">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Espacios Abiertos</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$7</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">
                            Escritorio full time, pasadía, sábados * escritorios no asignados.
                            <b class="d-block text-center">Diarios</b>
                        </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=10 })" class="btn btn-outline-secondary btn-alquiler" id="10">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Fin Espacios Abiertos*@

    <p>
        <h3 class=" text-decoration-none cursorPointer" data-toggle="collapse" href="#ESPACIOSCompartidos" aria-expanded="true" aria-controls="ESPACIOSCompartidos">
            <span class="bt-amarillo">ESPACIOS COMPARTIDOS</span>
        </h3>
    </p>
    <hr />
    <div class="collapse show" id="ESPACIOSCompartidos">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Espacios Compartidos</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$250</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">
                            Escritorios privados * asignados
                        </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=11 })" class="btn btn-outline-secondary btn-alquiler" id="11">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Fin Espacios Compartidos*@

    <p>
        <h3 class=" text-decoration-none cursorPointer" data-toggle="collapse" href="#SALONREUNIONES" aria-expanded="true" aria-controls="SALONREUNIONES">
            <span class="bt-amarillo">SALON REUNIONES</span>
        </h3>
    </p>
    <hr />
    <div class="collapse show" id="SALONREUNIONES">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Salon de Reuniones</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$25</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">
                            por hora
                        </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=12 })" class="btn btn-outline-secondary btn-alquiler" id="12">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*SALON REUNIONES*@

    <p>
        <h3 class=" text-decoration-none cursorPointer" data-toggle="collapse" href="#OFICINAVIRTUAL" aria-expanded="true" aria-controls="OFICINAVIRTUAL">
            <span class="bt-amarillo">OFICINA VIRTUAL</span>
        </h3>
    </p>
    <hr />
    <div class="collapse show" id="OFICINAVIRTUAL">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="card  redondo mb-3">
                    <p class="texto-parrafo">
                        <b>Oficina virtual</b>
                    </p>
                    <div class="card-body px-0">
                        <h4 class="precio">$60</h4>
                        <p class="text-center precio-text">Precio</p>
                        <p class="text-card">
                            Básico, intermedio, completo, full
                        </p>
                        <a href="@Url.Action("Pagos2","Home",new {id=13 })" class="btn btn-outline-secondary btn-alquiler" id="13">Alquilar</a>
                        <span class="span"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*OFICINA VIRTUAL*@
</div>
